
/* 上り回送 */
.train-up-0 {
    background-image: url("icons/u_extra.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り普通 */
.train-up-1 {
    background-image: url("icons/u_local.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り準急 */
.train-up-3 {
    background-image: url("icons/u_sexp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り急行 */
.train-up-4 {
    background-image: url("icons/u_exp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り快急 */
.train-up-5 {
    background-image: url("icons/u_rpd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り臨時普通 */
.train-up-6 {
    background-image: url("icons/u_ex_local.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り臨時準急 */
.train-up-7 {
    background-image: url("icons/u_ex_sexp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り臨時急行 */
.train-up-8 {
    background-image: url("icons/u_ex_exp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り臨時快急 */
.train-up-9 {
    background-image: url("icons/u_ex_rpd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上りD特 */
.train-up-10 {
    background-image: url("icons/u_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上りC1 */
.train-up-11 {
    background-image: url("icons/u_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上りC2 */
.train-up-12 {
    background-image: url("icons/u_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上りC3 */
.train-up-13 {
    background-image: url("icons/u_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上りC4 */
.train-up-14 {
    background-image: url("icons/u_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上りC5 */
.train-up-15 {
    background-image: url("icons/u_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上りB特 */
.train-up-16 {
    background-image: url("icons/u_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上りA特 */
.train-up-17 {
    background-image: url("icons/u_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り臨時 */
.train-up-18 {
    background-image: url("icons/u_extra.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り試運転 */
.train-up-19 {
    background-image: url("icons/u_outserv.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り団体 */
.train-up-21 {
    background-image: url("icons/u_extra.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 上り回送 */
.train-up-20 {
    background-image: url("icons/u_outserv.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 上り臨時特急 */
.train-up-24 {
    background-image: url("icons/u_ex_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 上り区間急行 */
.train-up-22 {
    background-image: url("icons/u_subexp.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 上り臨時区間急行 */
.train-up-23 {
    background-image: url("icons/u_ex_subexp.png");
    background-size: contain;
    background-repeat: no-repeat;
}








/* 下り回送 */
.train-down-0 {
    background-image: url("icons/d_outserv.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り普通 */
.train-down-1 {
    background-image: url("icons/d_local.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り準急 */
.train-down-3 {
    background-image: url("icons/d_sexp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り急行 */
.train-down-4 {
    background-image: url("icons/d_exp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り快急 */
.train-down-5 {
    background-image: url("icons/d_rpd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り臨時普通 */
.train-down-6 {
    background-image: url("icons/d_ex_local.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り臨時準急 */
.train-down-7 {
    background-image: url("icons/d_ex_sexp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り臨時急行 */
.train-down-8 {
    background-image: url("icons/d_ex_exp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り臨時快急 */
.train-down-9 {
    background-image: url("icons/d_ex_rpd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下りD特 */
.train-down-10 {
    background-image: url("icons/d_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下りC1 */
.train-down-11 {
    background-image: url("icons/d_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下りC2 */
.train-down-12 {
    background-image: url("icons/d_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下りC3 */
.train-down-13 {
    background-image: url("icons/d_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下りC4 */
.train-down-14 {
    background-image: url("icons/d_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下りC5 */
.train-down-15 {
    background-image: url("icons/d_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下りB特 */
.train-down-16 {
    background-image: url("icons/d_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下りA特 */
.train-down-17 {
    background-image: url("icons/d_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り臨時 */
.train-down-18 {
    background-image: url("icons/d_extra.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り試運転 */
.train-down-19 {
    background-image: url("icons/d_outserv.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り団体 */
.train-down-21 {
    background-image: url("icons/d_extra.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り回送 */
.train-down-20 {
    background-image: url("icons/d_outserv.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 下り臨時特急 */
.train-down-24 {
    background-image: url("icons/d_ex_ltd.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 下り区間急行 */
.train-down-22 {
    background-image: url("icons/d_subexp.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/* 下り臨時区間急行 */
.train-down-22 {
    background-image: url("icons/d_ex_subexp.png");
    background-size: contain;
    background-repeat: no-repeat;
}